@import url("https://use.typekit.net/lkw2nsj.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: pragmatapro-fraktur, serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/lkw2nsj.css");
  }
}